.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 100vh;
  background-color: var(--color-darkbase);
}

.list {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 16px;
}
