.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 100vh;
  background-color: var(--color-darkbase);
}

.list {
  display: flex;
  flex-direction: column;
}

.divider {
  height: 1px;
  background-color: var(--color-w-10);
  margin: var(--space-3) 0;
}
