.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  background-color: var(--color-darkbase);
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-w);
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
